
.create-button {
    /* width: 100%; */
    padding: 10px;
    background: #2575fc;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}
.logout-button {
    /* width: 100%; */
    padding: 10px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}


